@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Colors */
$color-bg: #fff;
$color-bg2: #4e483cc0;
$color-text: #000;

/* Fonts */
$font-family: "Poppins", sans-serif;

/* Font Sizes */
$font-size: 16px;

/* Line Heights */
$line-height: 1.3;

/* Breakpoints */
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;

/* Animations */
$animation-duration: 0.3s;

/* Shadows */
$shadow-1: 0 0 0 1px #373940;

